<%- include('includes/head.ejs')%>

<!-- BEGIN CUSTOM CSS EMBEDDING -->
<link rel="stylesheet" href="stylesheets/custom/main_style.css">
<link href="stylesheets/custom/map.css" type="text/css" rel="stylesheet">
<link href="stylesheets/custom/chat.css" type="text/css" rel="stylesheet">
<!-- END CUSTOM CSS EMBEDDING -->

<!-- BEGIN EMBEDDING ADDITIONAL CSS FILES FOR PLUGINS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css">
<link rel="stylesheet" href="stylesheets/codemirror.css">
<!-- END EMBEDDING ADDITIONAL CSS FILES FOR PLUGINS -->



</head>
<body>
<%- include('includes/navbar.ejs') %>

<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-md-9 col-lg-10">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="text-transform: uppercase;">Map <small>$PROJECTTITLE</small></h2>

                    <div id="mapid" class="leaflet-container leaflet-fade-anim leaflet-grab leaflet-touch-drag" tabindex="0" style="position: relative;">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12"><h2>R-Script </h2>
                    <form>
                        <div class="form-group btn-group">
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-play-circle"></span> Run</button>
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-save-file"></span> Save</button>
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> Export</button>
                        </div>
                        <div class="form-group">
                            <textarea id="code" rows="12" cols="138" name="code" title="Code-Editor"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-2">
            <div class="row">
                <p></p><div id="tree">
                </div>
                <div class="col-md-12">
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                    <form method="post" enctype="multipart/form-data">
                        <fieldset>
                            <ol class="selected-files"></ol>
                            <div class="form-group btn-group">
                                <label class="btn btn-primary btn-file">
                                    Browse <input type="file" style="display: none;" accept="image/*">
                                </label>
                                <button type="button" class="btn btn-default btn-m">
                                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chat</h3>
                    </div>
                    <div class="panel-body">
                        <ul id="chat_content"></ul>
                        <input id="name" type="hidden" value="<%= user.name %>">
                        <input id="text" type="text" placeholder="Write something" />
                        <input id="send" type="submit" class="btn" value="send" />
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#testModal">Open Test Modal</button>
            </div>
            <!--<div class="col-md-12"><textarea type="textbox" id="output" rows = "10" cols = "30"></textarea></div>-->
        </div>
    </div>
</div> <!-- /container -->
<!-- Trigger the modal with a button -->



<%- include('includes/modals.ejs') %>
<%- include('includes/footer.ejs') %>

<!-- Codemirror Files -->
<script src="javascripts/codemirror.js"></script>
<script src="javascripts/r.js"></script>
<script src="javascripts/custom/codemirror_custom.js"></script>
<script>
    editor = CodeMirror.fromTextArea(document.getElementById("code"), {});
</script>
<!-- Codemirror Files -->

<!-- Leaflet.js JavaScript Files -->
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
<script src="javascripts/leaflet.js"></script>
<!-- Leaflet.js JavaScript Files -->

<!-- Bootstrap Treeview JavaScript Files -->
<script src="javascripts/bootstrap-treeview.js"></script>
<script src="javascripts/custom/tree_view.js"></script>
<!-- Bootstrap Treeview JavaScript Files -->


<script src="javascripts/custom/file-uploader.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/custom/chat_client.js"></script>



</body>
</html>
