<%- include('includes/head.ejs')%>

    <!-- BEGIN CUSTOM CSS EMBEDDING -->
    <link rel="stylesheet" href="stylesheets/custom/main_style.css">
    <!-- END CUSTOM CSS EMBEDDING -->


</head>
<body>
<% if(typeof user == 'undefined') { %>
<%- include('includes/navbar_logged-out.ejs'); %>
<% } else { %>
<%- include('includes/navbar.ejs'); %>
<% } %>

<div class="container-fluid" id="content">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><%= user.name %></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="Pic" src="http://placekitten.com/g/300/300" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td><%= user.name %></td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td><%= user.city %></td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td><%= user.country %></td>
                        </tr>
                        <tr>
                            <td>E-Mail</td>
                            <td><%= user.email %></td>
                        </tr>
                        </tbody>
                    </table>
                        <span class="pull-right">
                            <a title="Edit user" data-toggle="modal" href="#editUserModal" type="button" class="btn btn-info btn-lg" ><i class="glyphicon glyphicon-pencil"></i></a>
                            <a title="Remove user" data-toggle="tooltip" onClick="deleteUser(<%= user.id %>);" type="button" class="btn btn-danger btn-lg "><i class="glyphicon glyphicon-trash"></i></a>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('includes/modals.ejs') %>
<%- include('includes/footer.ejs') %>
<script src="javascripts/custom/usermanagement.js"></script>
</body>
</html>
